@font-face {
  font-family: 'PerfectDOS';
  src: url('fonts/Perfect_DOS_VGA_437.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, * {
  font-family: 'PerfectDOS', monospace !important;
}

#node-1 {
  left: 100px;
  top: 100px;
}

#node-2 {
  left: 420px;
  top: 100px;
}

#node-3 {
  left: 100px;
  top: 400px;
}

#node-4 {
  left: 420px;
  top: 400px;
}

#node-5 {
  left: 100px;
  top: 700px
}

#node-6 {
  left: 740px;
  top: 100px
}


.node {
  display: inline-block;
  background: #000;
  padding: 2px 2px;
  margin: 0px;
  position: absolute;
  width: 251px;
  color: #eee;
  border: 1px solid #eee;
}

.basic-node {
}

.damaged-node {
  color: rgb(170, 0, 0);
  border: 1px solid rgb(170, 0, 0);
}

.node-message-box-damaged {
  position: absolute;
  top: 40px;
  width: 130px;
  left: 34px
}

.node-message-box-stack {
  position: absolute;
  top: 96px;
  width: 176px;
  left: 10px
}

.node-message-bar {
  height: 16px;
  background-color: #fff;
}

.node-message-bar-red {
  height: 16px;
  background-color: rgb(170, 0, 0);
}

.node-message {
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
  line-height: 20px;
}

.debug-button {
  position: absolute;
  top: 150px;
  width: 114px;
  height: 40px;
  left: 34px;
  border: 4px double rgb(170, 0, 0);
  line-height: 40px;
  text-align: center;
  box-shadow: 4px 4px 0 rgba(170, 0, 0);
  cursor: pointer;
}

.node-arrows {
  position: absolute;
  left: 50%;
  top: -32px;
  width: 0;
  height: 0;
  pointer-events: none;
}
.node-arrow {
  position: absolute;
  font-size: 30px;
  color: #555;
}

.node-arrow-active {
  color: #fff;
}

.node-arrow-up    { left: -40px; top: -8px; }
.node-arrow-down  { left: 10px; top: 294px; }
.node-arrow-left  { left: -170px; top: 164px; }
.node-arrow-right { left: 150px; top: 120px; }

.node-output-value {
  position: absolute;
  /* color: #fff; */
  font-size: 16px;
  width: 40px;
}

.node-output-up    { left: -76px; top: 4px; text-align: right; }
.node-output-down  { left: 32px; top: 303px; text-align: left; }
.node-output-left  { left: -178px; top: 160px; text-align: center;}
.node-output-right { left: 142px; top: 116px; text-align: center; }

.node-main {
  display: flex;
  flex-direction: row;
  padding: 1px;
  gap: 1px;
}
.node-code-area {
  background: #000;
  border: 1px solid;
  padding: 2px 4px;
  width: 180px;
  height: 242px;
  font-size: 16px;
  line-height: 1;
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.node-status-box {
  background: #000;
  border: 1px solid;
  padding: 3px 2px;
  width: 50px;
  height: 40px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0px;
}

.node-stack-box {
  position: absolute;
  background: #000;
  border: 1px solid;
  padding: 3px 2px;
  left: 196px;
  width: 50px;
  height: 240px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0px;
}

.stack-mem-value {
  width: 100%;
  text-align: center;
}

.mem-value-top {
  background-color:rgb(170, 0, 0, 0.5)
}

.node-status-label {
  font-size: 16px;
  color: #aaa;
  margin-bottom: 1px;
  margin-top: 4px;
  width: 100%;
  text-align: center;
}
.node-status-value {
  font-size: 16px;
  /* color: #fff; */
  width: 100%;
  text-align: center;
}

.node-status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 56px;
  gap: 2px;
}

.node-line {
    width: 100%;
}

.node-line-execute {
  color: #000;
  background-color: #fff;
}

.node-line-blocked {
  color: #000;
  background-color: #ccc;
}

.node-line-comment {
  color: #aaa;
}


#full-screen-message-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}

.full-screen-message-box-shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1001;
}

.debug-message-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  border: 4px solid rgb(170, 0, 0);
  padding: 20px;
  color: rgb(170, 0, 0);
  z-index: 1002;
  width: 540px;
  height: 300px;
  text-align: center;
}

.debug-message-continue-button {
  position: absolute;
  top: 250px;
  width: 250px;
  height: 40px;
  left: 135px;
  border: 4px double rgb(170, 0, 0);
  line-height: 40px;
  text-align: center;
  box-shadow: 4px 4px 0 rgba(170, 0, 0);
  cursor: pointer;
}

.debug-message-box-text {
  position: absolute;
  width: 510px;
  top: 52px;
  left: 40px;
  text-align: left;
}

.control-button {
  position: fixed;
  width: 80px;
  height: 70px;
  border: 4px double #eee;
  box-shadow: 4px 4px 0 rgba(255, 255, 255, 0.5);
  cursor: pointer;
  background-color: #000;
  color: #eee;
  z-index: 100;
}

.control-button-text {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

#stop-button {
  bottom: 40px;
  left: 20px;
}

.stop-button-symbol {
  width: 25px;
  height: 25px;
  background-color: #eee;
  position: absolute;
  left: 27px;
  top: 10px;
}

#step-button {
  bottom: 40px;
  left: 130px;
}

.pause-button-symbol {
  position: absolute;
  left: 44px;
  top: 30px;
  font-size: 12px;
  font-weight: bold;
}

#run-button {
  bottom: 40px;
  left: 240px;
}

.arrow-button-symbol {
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 24px solid #eee;
  position: absolute;
}

.run-button-symbol {
  left: 30px;
  top: 10px;
}

#fast-button {
  bottom: 40px;
  left: 350px;
}

.fast-arrow-1 {
  left: 20px;
  top: 10px;
}

.fast-arrow-2 {
  left: 30px;
  top: 10px;
}

.fast-arrow-3 {
  left: 40px;
  top: 10px;
}
