@font-face {
  font-family: 'PerfectDOS';
  src: url('fonts/Perfect_DOS_VGA_437.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, * {
  font-family: 'PerfectDOS', monospace !important;
}


.node {
  display: inline-block;
  background: #000;
  color: #fff;
  /* font-family: 'Consolas', monospace; */
  border: 1px solid #fff;
  padding: 2px 2px;
  margin: 0px;
  position: relative;
  min-width: 250px;
  left: 100px;
  top: 100px;
}
.node-arrows {
  position: absolute;
  left: 50%;
  top: -32px;
  width: 0;
  height: 0;
  pointer-events: none;
}
.node-arrow {
  position: absolute;
  font-size: 30px;
  color: #555;
}

.node-arrow-active {
  color: #fff;
}

.node-arrow-up    { left: -40px; top: -8px; }
.node-arrow-down  { left: 10px; top: 294px; }
.node-arrow-left  { left: -164px; top: 164px; }
.node-arrow-right { left: 140px; top: 120px; }

.node-output-value {
  position: absolute;
  color: #fff;
  font-size: 16px;
  width: 40px;
}

.node-output-up    { left: -76px; top: 4px; text-align: right; }
.node-output-down  { left: 32px; top: 300px; text-align: left; }
.node-output-left  { left: -178px; top: 160px; text-align: right;}
.node-output-right { left: 142px; top: 116px; text-align: left; }

.node-main {
  display: flex;
  flex-direction: row;
  padding: 1px;
  gap: 1px;
}
.node-code-area {
  background: #000;
  border: 1px solid #fff;
  padding: 2px 4px;
  min-width: 180px;
  min-height: 220px;
  font-size: 16px;
  line-height: 1;
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.node-status-box {
  background: #000;
  border: 1px solid #fff;
  padding: 3px 2px;
  min-width: 50px;
  min-height: 40px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0px;
}
.node-status-label {
  font-size: 16px;
  color: #aaa;
  margin-bottom: 1px;
  margin-top: 4px;
  width: 100%;
  text-align: center;
}
.node-status-value {
  font-size: 16px;
  color: #fff;
  width: 100%;
  text-align: center;
}

.node-status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
}

.node-line {
    width: 100%;
}

.node-line-execute {
  color: #000;
  background-color: #fff;
}

.node-line-blocked {
  color: #000;
  background-color: #aaa;
}